In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

df = pd.read_csv(r"../dataset/data.csv");

In [ ]:
df.head() # returns top 5 records from the dataset

In [ ]:
df.tail() # returns bottom 5 records from the dataset

In [ ]:
df = df.drop(['Engine Fuel Type', 'Market Category', 'Vehicle Style', 'Popularity', 'Number of Doors', 'Vehicle Size'], axis=1)

In [ ]:
df = df.rename(columns={"Engine HP" : "HP", "Engine Cylinders" : "Cylinders", "Transmission Type" : "Transmission", "Driven_Wheels" : "Drive Mode", "highway MPG" : "H-MPG", "city mpg" : "C-MPG", "MSRP" : "Price"})

In [29]:
df.shape
duplicate_rows_df = df[df.duplicated()]
print(duplicate_rows_df.shape)

(989, 10)

In [30]:
df.count()

Make            11914
Model           11914
Year            11914
HP              11845
Cylinders       11884
Transmission    11914
Drive Mode      11914
H-MPG           11914
C-MPG           11914
Price           11914
dtype: int64

In [ ]:
df.isnull().sum() # to check for the null values in the data

In [31]:
df = df.drop_duplicates()
df.head()

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,H-MPG,C-MPG,Price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500

In [33]:
df.count()

Make            10925
Model           10925
Year            10925
HP              10856
Cylinders       10895
Transmission    10925
Drive Mode      10925
H-MPG           10925
C-MPG           10925
Price           10925
dtype: int64